<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YoYo MaskЯ</title>
    <link rel="icon" type="image/svg+xml" href="/static/public/favicon.svg">
    <link rel="stylesheet" href="/static/styles/colors.css">
    <link rel="stylesheet" href="/static/styles/style.css">
</head>
<body>
    <header>
        <div>
            <h1>YoYo MaskЯ</h1>
            <a href="/">
                <img class="logo" id="AppLogo" src="/static/public/yo-yo-maskr-logo.svg" alt="YoYo MaskR Logo">
            </a>
        </div>
    </header>

    <main>
        <div class="flex-container">
            
            <div class="flex-container-row">
                <div class="flex-item">
                    <h3>Load masked text</h3>
                    <input type="file" id="fileInput" accept=".txt">
                </div>
                <div class="flex-item">
                    <h3>Load entities</h3>
                    <input type="file" id="fileInputE" accept=".json">
                </div>
            </div>

            <div class="flex-item">
                <h3>Input</h3>
            </div>
            <div class="flex-item">
                <form id="inputForm">
                    <textarea class="default-textarea" type="text" id="inputData" placeholder="Enter text to deanonymize or load text from a file" required></textarea>
                    <div class="flex-container">
                        <div class="flex-item">
                            <input type="submit" value="Submit">
                        </div>
                    </div>  
                </form>
            </div>

            <div class="flex-item">
                <h3>Masked Text</h3>
            </div>
            <div class="flex-item">
                <textarea class="default-textarea" id="responseFieldText" readonly></textarea>
            </div>

            <div class="flex-item">
                <h3>Entities</h3>
            </div>
            <div class="flex-item">
                <textarea class="default-textarea" id="responseFieldEntities" readonly></textarea>
            </div>

            <div class="flex-item">
                <h3>DeMasked text</h3>
            </div>
            <div class="flex-item">
                <textarea class="default-textarea" id="responseFieldDeanonText" readonly></textarea>
            </div>

            <div class="flex-item">
                <button id="downloadBtnDemask">Download File</button>
            </div>
    </main>

    <footer>
        <div>
            <a href="https://github.com/baloise/yo-yo-maskr">
                <img src="/static/public/github-mark.svg" alt="GitHub" width="30" height="30">
            </a>
        </div>
    </footer>

    <!-- Link to the external JavaScript file -->
    <script src="/static/scripts/demask.js"></script>
    <script src="/static/scripts/fileLoader.js"></script>
    <script src="/static/scripts/demask_downloader.js"></script>
</body>
</html>
