<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YoYo MaskЯ</title>
    <link rel="icon" type="image/svg+xml" href="/static/public/favicon.svg">
    <link rel="stylesheet" href="/static/styles/colors.css">
    <link rel="stylesheet" href="/static/styles/style.css">
</head>
<body>
    <header>
        <div>
            <h1>YoYo MaskЯ</h1>
            <a href="/">
                <img class="logo" id="AppLogo" src="/static/public/yo-yo-maskr-logo.svg" alt="YoYo MaskR Logo">
            </a>
        </div>
    </header>

    <main>
        <div class="button-container">
            <button class="square-button" onclick="window.location.href='/mask'">Mask</button>
            <button class="square-button" onclick="window.location.href='/demask'">DeMask</button>
        </div>
        <br/>
    </main>

    <footer class="flex-container-row">
        <div class="flex-item"></div>
        <div class="flex-item">
            <a target="_blank" href="https://github.com/baloise/yo-yo-maskr">
                <img src="/static/public/github-mark.svg" alt="GitHub" width="30" height="30">
            </a>
        </div>
        <div class="flex-item">
            <a class="url-nounderline" target="_blank" href="https://github.com/baloise/yo-yo-maskr/issues?q=is%3Aissue+is%3Aopen">
                GitHub Issue tracker
            </a>
        </div>
    </footer>

</body>
</html>
