/* don't add color codes here. Use colors.css and add var(--var-name) here */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: "Lucida Console", monospace;
}

main {
    flex: 1;
    background-color: var(--background-body)
}

header {
    min-height: 50px;
    background: var(--background-body);
    text-align: center;
}

footer {
    min-height: 50px;
    background: var(--background-body);
    text-align: center;
    flex-direction: row;
}

.logo {
    width: 300px;
    height: 300px;
    text-align: center;
}

#output {
    margin-top: 20px;
    white-space: pre-wrap; /* Preserve whitespace */
}

#LLMInput {
    display: none; /* Hide by default */
}

#LLMcustomLabel {
    display: none; /* Hide by default */
}

.flex-container {
    display: flex; /* Use flexbox to align items */
    justify-content: center; /* Center the buttons horizontally */
    align-items: center; /* Center the buttons vertically */
    flex-direction: column;
    gap: 5px; /* Optional: Add space between buttons */
}

.flex-container-row {
    display: flex; /* Use flexbox to align items */
    justify-content: center; /* Center the buttons horizontally */
    align-items: center; /* Center the buttons vertically */
    flex-direction: row;
    gap: 0px; /* Optional: Add space between buttons */
}

.default-textarea {
    width: 200px;
    height: 100px;
    padding: 5px;
    margin: 0px;
}

.flex-item {
    flex: 1;
    padding: 2px;
    margin: 0px;
}

.button-container {
    display: flex; /* Use flexbox to align items */
    justify-content: center; /* Center the buttons horizontally */
    align-items: center; /* Center the buttons vertically */
    gap: 10px; /* Optional: Add space between buttons */
}

.square-button {
    width: 150px;          /* Width of the button */
    height: 100px;         /* Height of the button (same as width for square) */
    background-color: var(--background-button); /* Background color */
    border: none;         /* No border */
    border-radius: 5px;   /* Slightly rounded corners */
    cursor: pointer;      /* Pointer cursor on hover */
    font-size: 16px;      /* Font size */
}

.square-button:hover {
    background-color: black; /* Background color */
    color: white;           /* Text color */
}

@media (max-width: 768px) {
    .flex-container-row {
        flex-direction: column; /* Stack items vertically */
    }
    .button-container {
        flex-direction: column; /* Stack items vertically */
    }
}

.checkbox-label {
    font-size: 14px;      /* Font size */
}